<div class="row container">
    <section class="row post col-6 ">
        <h2>Este texto es una prueba</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, dolore in ratione ut veniam fugiat explicabo. Deleniti culpa vel, modi illum repellendus similique consequatur inventore error provident quasi labore nam!</p>
    </section>
    <section class="row post col-6 ">
        <h2>Este es otro de los textos de prueba</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim doloribus cupiditate vel laborum animi aliquam sunt dolore aut illo recusandae nobis, expedita voluptates optio molestias nihil voluptatibus ullam. Dignissimos, perspiciatis!</p>
    </section>
</div>
